body{
  background: black;
  color: white;
  text-align:center;
  font-family: 'Merriweather', serif;

}
hr{
  border-color: red;
}
h3{
  color: white;
  font-size: 0.8rem;
}
a{
  color: white;
  text-decoration-line: none;
}
p{
  font-family: "Montserrat", sans-serif;
}

.n{
  position: relative;
  bottom: 20px
}
.m{
  position: relative;
  top: 20px
}
.logo1{
  border-radius: 10px;
  height: 80px;
}
.logo2{
  height: 130px;
  padding: 20px;
  background: white;
  border-radius: 20px 40px 20px 40px;
}
.brand{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #d41111, #9e1111);
  background-image: -moz-linear-gradient(top, #d41111, #9e1111);
  background-image: -ms-linear-gradient(top, #d41111, #9e1111);
  background-image: -o-linear-gradient(top, #d41111, #9e1111);
  background-image: linear-gradient(to bottom, #d41111, #9e1111);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Times new Roman', sans-serif;
  color: #ffffff;
  font-size: 4rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0
}

.side{
  padding: 10px;
  background-image: -webkit-linear-gradient(top, #d41111, #9e1111);
  background-image: -moz-linear-gradient(top, #d41111, #9e1111);
  background-image: -ms-linear-gradient(top, #d41111, #9e1111);
  background-image: -o-linear-gradient(top, #d41111, #9e1111);
  background-image: linear-gradient(to bottom, #d41111, #9e1111);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #d41111;
  box-shadow: 0 0 30px 10px;
  height: 400px;
  width: 200PX;
  margin: 10px 0px;
}
.This{
  position: relative;
  bottom: 30px;
  left: 10px;
  padding: 10px;
  background-image: -webkit-linear-gradient(top, #d41111, #9e1111);
  background-image: -moz-linear-gradient(top, #d41111, #9e1111);
  background-image: -ms-linear-gradient(top, #d41111, #9e1111);
  background-image: -o-linear-gradient(top, #d41111, #9e1111);
  background-image: linear-gradient(to bottom, #d41111, #9e1111);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #d41111;
  box-shadow: 0 0 30px 10px;
  height: 200px;
  width: 200PX;
}

.t1{
  margin: auto;
}
.Aswift{
  font-size: 3.2rem;
  font-family: 'papyrus';
}

.Aswifty{
  color: red;
}
.Aswift2{
  font-size: 2.2rem;
  color: red;
  background-color: white;
}
.AswiftB{
  font-size: 1.5rem;
  text-align: justify;
  margin: 0;
  position: relative;
  top: 50px;
}
.table1{
  position: relative;
  bottom: 70px;
}
.table3{
  position: relative;
  bottom: 70px;
}
.table2{
  font-size: 1.5rem;
  text-align: justify;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  bottom: 0px;
}
.feed{
  font-size: 1.5rem;
  font-family: cursive;
}

.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #d41111, #9e1111);
  background-image: -moz-linear-gradient(top, #d41111, #9e1111);
  background-image: -ms-linear-gradient(top, #d41111, #9e1111);
  background-image: -o-linear-gradient(top, #d41111, #9e1111);
  background-image: linear-gradient(to bottom, #d41111, #9e1111);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Times new Roman', sans-serif;
  color: #ffffff;
  font-size: 2.2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #e33030, #c42b2b);
  background-image: -moz-linear-gradient(top, #e33030, #c42b2b);
  background-image: -ms-linear-gradient(top, #e33030, #c42b2b);
  background-image: -o-linear-gradient(top, #e33030, #c42b2b);
  background-image: linear-gradient(to bottom, #e33030, #c42b2b);
  text-decoration: none;
}

.btn1{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #d41111, #9e1111);
  background-image: -moz-linear-gradient(top, #d41111, #9e1111);
  background-image: -ms-linear-gradient(top, #d41111, #9e1111);
  background-image: -o-linear-gradient(top, #d41111, #9e1111);
  background-image: linear-gradient(to bottom, #d41111, #9e1111);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 2.2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn1:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #e33030, #c42b2b);
  background-image: -moz-linear-gradient(top, #e33030, #c42b2b);
  background-image: -ms-linear-gradient(top, #e33030, #c42b2b);
  background-image: -o-linear-gradient(top, #e33030, #c42b2b);
  background-image: linear-gradient(to bottom, #e33030, #c42b2b);
  text-decoration: none;
}

/* .btn1{
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 2rem;
  font-family: cursive;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn1:hover {
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
} */
.find{
  font-family: 'arial';
  padding: 30px;
  background-image: -webkit-linear-gradient(top, #d41111, #9e1111);
  background-image: -moz-linear-gradient(top, #d41111, #9e1111);
  background-image: -ms-linear-gradient(top, #d41111, #9e1111);
  background-image: -o-linear-gradient(top, #d41111, #9e1111);
  background-image: linear-gradient(to bottom, #d41111, #9e1111);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  font-size: 1.8rem;
  border-radius: 30px;
}
.contact{
  position: relative;
  top: 80px;
}
